
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>pa</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="__S__/lizi/css/style.css">
</head>
<style>

</style>

<body>

<!-- particles.js container -->1

<div id="particles-js" style="display: flex;flex-direction: row">

    <div style="width: 500px;height: 500px;position: absolute;left: 300px;top:100px;
        background-color: white;">wenzi</div>

</div>

<!--<img src="__S__/image/bg.jpg" style="width: 1000px;height: 800px">-->
<!-- scripts -->
<script src="__S__/lizi/js/particles.js"></script>
<script src="__S__/lizi/js/app.js"></script>
<!-- stats.js -->

<script>

</script>

</body>
</html>